
@media only screen and (min-width: 576px){

.container{
	position: relative;
	/*background-color: red;*/
	/*background-color: #202020;*/
	margin-top: -0.5%;
	margin-left: 3.5%;
	width: 93%;
	/*box-shadow: inset -8px -8px 6px #343434, inset 9px 9px 15px #000000;*/
	padding: 2%;
	border-radius: 15px;
	padding-bottom: 3rem;
}

.circle{
	position: relative;
	overflow: hidden;
	width: 275px;
	height: 275px;
	float: left;
	border-radius: 50%;
	margin: 3rem;
	margin-top: 6rem;
	transition: 1s;
	box-shadow: -8px -8px 12px #000000, 8px 8px 12px #000000;
	shape-outside: circle(50%);
}

.theCard{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1s ease;
}

.theCard:hover{
	transform: rotateY(180deg);
}

.front{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-image: url('pic4.jpg');
	background-size: cover;
}

.rear{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background-image: url('pic8.jpg');
	background-size: cover;
}

.headbg{
	position: absolute;
	background-image: linear-gradient(#202020, #000000);
	font-size: 2rem;
	margin-top: -4.5%;
	margin-bottom: 10px;
	text-align: center;
	/*box-shadow: -6px -6px 10px #333333, 6px 6px 10px #000000;*/
	box-shadow: inset -4px -4px 6px #343434, inset 4px 4px 6px #010101;
	border-radius: 25%;
	width: 55%;
	margin-left: 22.5%;
	padding: 0;
	font-weight: bold;
}

.heading{
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(#eee, #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: -1%;
	margin-bottom: 3.5%;
}

p{
	padding-top: 4rem;
	color: #eee;
	text-align: justify;
	font-size: 1.5rem;
	margin: 3% 4% 0 4%;
}

strong{
	font-size: 2rem;
}

}


@media only screen and (max-width: 576px){/*small screen-*/

.container{
	position: relative;
	display: block;
	margin-top: -0.5%;
	margin-left: 5%;
	width: 90%;
	/*box-shadow: inset -8px -8px 12px #343434, inset 9px 9px 15px #000000;*/
	border-radius: 15px;
	padding-bottom: 2rem;
}

.circle{
	position: relative;
	display: block;
	width: 80%;
	height: 27rem;
	border-radius: 50%;
	transition: 1s;
	box-shadow: -8px -8px 12px #000000, 8px 8px 12px #000000;
	margin-left: 10%;
	margin-top: 9rem;
	overflow: hidden;
}

.theCard{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1s ease;
}

.theCard:hover{
	transform: rotateY(180deg);
}

.front{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-image: url('pic4.jpg');
	background-size: cover;
}

.rear{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background-image: url('pic8.jpg');
	background-size: cover;
}

.headbg{
	position: relative;
	background-image: linear-gradient(#202020, #000000);
	margin-top: -35rem;
	text-align: center;
	/*box-shadow: -6px -6px 10px #333333, 6px 6px 10px #000000;*/
	box-shadow: inset -4px -4px 6px #343434, inset 4px 4px 6px #010101;
	border-radius: 25%;
	width: 92%;
	margin-left: 4%;
	cursor: pointer;
	padding-top: 0.1rem;
	padding-bottom: 0.5rem;
	
}

.heading{
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(#eee, #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

p{
	position: relative;
	color: #eee;
	text-align: justify;
	font-size: 1.5rem;
	margin: 30rem 4% 0 4%;
}

strong{
	font-size: 2rem;
}

}


@media only screen and (min-width: 992px){/*Laptop screen+*/

.container{
	position: relative;
	/*background-color: #202020;*/
	margin-top: -0.5%;
	margin-left: 8%;
	width: 84%;
	/*box-shadow: inset -8px -8px 6px #343434, inset 9px 9px 15px #000000;*/
	padding: 2%;
	border-radius: 15px;
	padding-bottom: 3rem;
}

.circle{
	position: relative;
	overflow: hidden;
	width: 275px;
	height: 275px;
	float: left;
	border-radius: 50%;
	margin: 3rem;
	transition: 1s;
	box-shadow: -8px -8px 12px #000000, 8px 8px 12px #000000;
	shape-outside: circle(50%);
}

.theCard{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1s ease;
}

.theCard:hover{
	transform: rotateY(180deg);
}

.front{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-image: url('pic4.jpg');
	background-size: cover;
}

.rear{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background-image: url('pic8.jpg');
	background-size: cover;
}

.headbg{
	background-image: linear-gradient(#202020, #000000);
	color: #eee;
	margin-top: -2.5%;
	margin-bottom: 10px;
	text-align: center;
	/*box-shadow: -6px -6px 10px #333333, 6px 6px 10px #000000;*/
	box-shadow: inset -4px -4px 6px #343434, inset 4px 4px 6px #010101;
	border-radius: 25%;
	width: 40%;
	margin-left: 30%;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}


.heading{
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(#eee, #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: -1%;
	margin-bottom: 3.5%;
}

#intro{
	
	font-weight: bold;
	font-size: 2.75rem;
}

p{
	padding-top: 5rem;
	color: #eee;
	text-align: justify;
	font-size: 1.5rem;
	margin: 2% 4% 0 4%;
}

strong{
	font-size: 2rem;
}

}




@media only screen and (max-width: 991px){

details{
	position: relative;
	display: block;
	padding: 5px;
	text-align: center;
	clear: both;
	top: -9rem;
}

summary{
	padding: 5px;
	font-size: 2.2rem;
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: -1%;
	z-index: 5;
	width: 50%;
	margin-left: 25%;
}

summary::-webkit-details-marker {
	display: none;
}

summary:before {
	content: "\2714"; /* the new icon */
	margin-right: 5px;
}

.edusummary{
	display: block;
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background-color: yellow;*/
	color: #eee;
	margin-top: 3%;
	z-index: -1;
}

.edusummary p{
	position: relative;
	width: 86%;
	margin-top: -8%;
	margin-left: 7%;
}

.tableDiv{
	position: relative;
	display: block;
	width: 85%;
	margin: 2% 7.5% 5% 7.5%;
	border-left: 2px #555555 ridge;
	border-top: 2px #555555 ridge;
	border-right: 2px #555555 groove;
	border-bottom: 2px #555555 groove;
}

table{
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	font-size: 1.6rem;
	font-weight: bold;
	overflow: scroll;
}

table *{
	border: 2px solid #161616;
	text-align: center;
}

th{
	background-image: linear-gradient(#202020, #404040);
	padding: 15px 10px 15px 10px;
	opacity: 1;
	text-align: center;
	box-shadow: -0px -4px 6px #555555, 0px 4px 6px #111111;
	background: -webkit-linear-gradient(#eee, #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
}

td{
	padding: 1rem;
}

tr{
	background-image: linear-gradient(#191919, #303030);
	color: #999999;
}

tr:nth-child(2) td{
	background-image: linear-gradient(#191919, #303030);
	box-shadow: inset -0px -0px 0px #202020, inset 0px 4px 4px #111111;
}

.bigCell a{
	text-decoration: none;
	color: #999999;
	border-style: none;
}

.bigCell:hover a{
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bigCell:hover{
	box-shadow: -0px -5px 8px #555555, 0px 5px 8px #000000;
}

tr:nth-child(3):hover td,
tr:nth-child(4):hover td,
tr:nth-child(5):hover td,
tr:nth-child(6):hover td,
tr:nth-child(7):hover td,
tr:nth-child(8):hover td{
	box-shadow: -0px -5px 8px #555555, 0px 5px 8px #000000;
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.lasttwo a{
	text-align: center;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	border-style: none;
	color: #999999;
}

.lasttwo:hover a{
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

}


@media only screen and (max-width: 576px){

details{
	position: relative;
	display: block;
	padding: 5px;
	text-align: center;
	margin-top: 3%;
	clear: both;
	top: -7rem;
	width 100%;
}

summary{
	padding: 5px;
	font-size: 2.75rem;
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: -1%;
	z-index: 5;
	width: 90%;
	margin-left: 5%;
}

summary::-webkit-details-marker {
	display: none;
}

summary:before {
	content: "\2714"; /* the new icon */
	margin-right: 5px;
}

.edusummary{
	display: block;
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background-color: yellow;*/
	color: #eee;
	margin-top: 3%;
	z-index: -1;
}

.edusummary p{
	position: relative;
	width: 92%;
	margin-top: -1%;
	margin-left: 4%;
	margin-bottom: 5%;
}

.tableDiv{
	position: relative;
	display: block;
	width: 85%;
	margin: 2% 7.5% 5% 7.5%;
	border-left: 2px #555555 ridge;
	border-top: 2px #555555 ridge;
	border-right: 2px #555555 groove;
	border-bottom: 2px #555555 groove;
}

table{
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	font-size: 1.6rem;
	font-weight: bold;
	overflow: scroll;
}

table *{
	border: 2px solid #161616;
	text-align: center;
}

th{
	background-image: linear-gradient(#202020, #404040);
	padding: 15px 10px 15px 10px;
	opacity: 1;
	text-align: center;
	box-shadow: -0px -4px 6px #555555, 0px 4px 6px #111111;
	background: -webkit-linear-gradient(#eee, #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
}

td{
	padding: 1rem;
}

tr{
	background-image: linear-gradient(#191919, #303030);
	color: #999999;
}

tr:nth-child(2) td{
	background-image: linear-gradient(#191919, #303030);
	box-shadow: inset -0px -0px 0px #202020, inset 0px 4px 4px #111111;
}

.bigCell a{
	text-decoration: none;
	color: #999999;
	border-style: none;
}

.bigCell:hover a{
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bigCell:hover{
	box-shadow: -0px -5px 8px #555555, 0px 5px 8px #000000;
}

tr:nth-child(3):hover td,
tr:nth-child(4):hover td,
tr:nth-child(5):hover td,
tr:nth-child(6):hover td,
tr:nth-child(7):hover td,
tr:nth-child(8):hover td{
	box-shadow: -0px -5px 8px #555555, 0px 5px 8px #000000;
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.lasttwo a{
	text-align: center;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	border-style: none;
	color: #999999;
}

.lasttwo:hover a{
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

}


@media only screen and (min-width: 992px){

details{
	position: relative;
	display: block;
	padding: 5px;
	text-align: center;
	clear: both;
	top: -10rem;
}

summary{
	padding: 5px;
	font-size: 3rem;
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: -1%;
	width: 40%;
	margin-left: 30%;
}

summary::-webkit-details-marker {
	display: none;
}

summary:before {
	content: "\2714"; /* the new icon */
	margin-right: 5px;
}

.edusummary{
	display: block;
	position: absolute;
	width: 36%;
	margin-left: 6%;
	/*background-color: yellow;*/
	color: #eee;
}

.edusummary p{
	position: relative;
	width: 95%;
	/*margin-top: -10%;*/
	margin-left: 2.5%;
}

.tableDiv{
	position: relative;
	display: block;
	width: 50%;
	margin: 2% 6% 5% 44%;
	border-left: 2px #555555 ridge;
	border-top: 2px #555555 ridge;
	border-right: 2px #555555 groove;
	border-bottom: 2px #555555 groove;
}

table{
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	font-size: 1.6rem;
	font-weight: bold;
	overflow: scroll;
}

table *{
	border: 2px solid #161616;
	text-align: center;
}

th{
	background-image: linear-gradient(#202020, #404040);
	padding: 15px 10px 15px 10px;
	opacity: 1;
	text-align: center;
	box-shadow: -0px -4px 6px #555555, 0px 4px 6px #111111;
	background: -webkit-linear-gradient(#eee, #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
}

td{
	padding: 1rem;
}

tr{
	background-image: linear-gradient(#191919, #303030);
	color: #999999;
}

tr:nth-child(2) td{
	background-image: linear-gradient(#191919, #303030);
	box-shadow: inset -0px -0px 0px #202020, inset 0px 4px 4px #111111;
}

.bigCell a{
	text-decoration: none;
	color: #999999;
	border-style: none;
}

.bigCell:hover a{
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bigCell:hover{
	box-shadow: -0px -5px 8px #555555, 0px 5px 8px #000000;
}

tr:nth-child(3):hover td,
tr:nth-child(4):hover td,
tr:nth-child(5):hover td,
tr:nth-child(6):hover td,
tr:nth-child(7):hover td,
tr:nth-child(8):hover td{
	box-shadow: -0px -5px 8px #555555, 0px 5px 8px #000000;
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.lasttwo a{
	text-align: center;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	border-style: none;
	color: #999999;
}

.lasttwo:hover a{
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

}









@media only screen and (max-width: 992px){

.servecontainer{
	display: block;
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background: green;*/
	top: 2rem;
	/*height: 500rem;*/
}

.servecontainertop{
	display: block;
	position: relative;
	width: 100%;
	/*background: grey;*/
}

.servehead{
	margin-left: 18%;
	font-weight: bold;
	font-size: 3.75rem;
	color: #dddddd; 
	text-shadow: 5px 5px 12px rgba(0,0,0), 5px 5px 8px rgba(0,0,0), 0px 0px 12px rgba(0,0,0);
	z-index: 10;
}

.leftloop{
	display: block;
	position: relative;
	top: -1.5rem;
	width: 45%;
	height: 21rem;
	margin-left: 18%;
	background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, transparent 30%);
	z-index: 5;
	border: 3.5rem solid #ddd;
	border-image: linear-gradient(to bottom, #565656, #262626); /*(to bottom, rgba(0,255,255,0.7) , purple)*/
	border-image-slice: 1;
	box-shadow: -4.5px 4.5px 4.5px red; /*rgba(0,154,217,1)*/
}

.leftInner{
	display: block;
	position: absolute;
	width: 120%;
	height: 3.3rem;
	top: 3rem;
	margin-left: 38%;
	background-color: #262626;
	z-index: 5;
	box-shadow: 0px -4px 0px red, 0px 0px 0px transparent;
}

.rightloop{
	display: block;
	position: relative;
	width: 45%;
	height: 20rem;
	margin-left: 35%;
	top: -16rem;
	z-index: 2;
	background-image: linear-gradient(rgba(0,0,0,0.8), transparent);
	border: 3.5rem solid #ddd;
	border-image: linear-gradient(to bottom, #262626 , #565656);
	border-image-slice: 1;
	box-shadow: 5.5px -5.5px 5.5px red, 0px 0px 0px transparent;
}

.headleft{
	position: absolute;
	margin-top: 7.5rem;
	margin-left: -8%;
	font-weight: bold;
	font-size: 3.5rem;
	color: #dddddd; 
	text-shadow: 5px 5px 12px rgba(0,0,0), 5px 5px 8px black, 0px 0px 12px rgba(0,0,0);
}

.headright{
	position: absolute;
	margin-top: -3.5rem;
	margin-left: 55%;
	font-weight: bold;
	font-size: 3rem;
	color: #dddddd; 
	text-shadow: 5px 5px 12px rgba(0,0,0), 5px 5px 8px black, 0px 0px 12px rgba(0,0,0);
}

.servecontainerbottom1{
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background: grey;*/
	top: -11rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.servecontainerbottom2{
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background: aqua;*/
	top: -11rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.servecontainerbottom3{
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background: pink;*/
	top: -11rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.services{
	display: block;
	position: relative;
	height: 23rem;
	/*background-color: yellow;*/
	text-align: center;
	margin: 0.25rem auto;
}

.card{
	position: relative;
	height: 22rem;
	/*background-color: #eee;*/
	width: 100%;
	display: flex;
	margin: 0.25rem;
	/*margin-left: -0.25rem;*/
	/*border: 3px solid #565656;*/
	border-radius: 5px;
}

.imgbx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: #333;*/
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out;
	padding-bottom: 10%;
	border-radius: 5px;
}

.card:hover{
	background-color: #eee;
	border: 3px solid #565656;
}

.card:hover .imgbx{
	width: 60%;
	height: 70%;
	top: -25%;
	left: calc(50% - 70%);
	transition: 0.5s ease-in-out;
	background-color: #000;
	padding-bottom: 0%;
}

.imgbx:before{
	content: attr(data-text);
	position: absolute;
	left: 0;
	bottom: 8%;
	width: 100%;
	text-align: center;
	font-size: 4em;
	color: rgba(255,255,255,0.15);
	font-weight: 600;
	border-radius: 6px;
}

img{
	max-width: 40%;
	transition:  0.5s ease-in-out;
}

.card:hover img{
	max-width: 80%;
}

.card:hover .imgbx:before{
	color: rgba(255,255,255,0.05);
}

.content{
	position: relative;
	right: 0;
	width: 100%;
	height: 100%;
	/*left: 0%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;*/
	display: block;	
}

.content h3{
	position: relative;
	font-size: 24px;
	font-weight: bold;
	display: none;
	text-align: center;
	margin-top: 5%;
	right: 5%;
	margin-left: 48%;
}

.content p{
	position: absolute;
	bottom: 8%;
	color: #111;
	font-weight: 600;
	display: none;
	margin-left: 5%;
	margin-right: 6%;
}


.serve1 h3{
	margin-top: 8%;
}

.serve3 h3{
	margin-top: 8%;
}

.serve4 h3{
	margin-top: 5%;
}

.serve6 h3{
	margin-top: 8%;
}

.serve7 h3{
	margin-top: 8%;
}

.card:hover .content{
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.7);
}

.card:hover .content h3{
	display: block;
}

.card:hover .content p{
	display: block;
}

}



@media only screen and (max-width: 576px){

.servecontainer{
	display: block;
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background: green;*/
	top: 2rem;
	/*height: 500rem;*/
}

.servecontainertop{
	display: block;
	position: relative;
	width: 100%;
	/*background: grey;*/
}

.servehead{
	margin-left: 8%;
	font-weight: bold;
	font-size: 3.75rem;
	color: #dddddd; 
	text-shadow: 5px 5px 12px rgba(0,0,0), 5px 5px 8px rgba(0,0,0), 0px 0px 12px rgba(0,0,0);
	z-index: 10;
}

.leftloop{
	display: block;
	position: relative;
	top: -1.5rem;
	width: 60%;
	height: 21rem;
	margin-left: 8%;
	background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, transparent 30%);
	z-index: 5;
	border: 3.5rem solid #ddd;
	border-image: linear-gradient(to bottom, #565656, #262626); /*(to bottom, rgba(0,255,255,0.7) , purple)*/
	border-image-slice: 1;
	box-shadow: -4.5px 4.5px 4.5px red; /*rgba(0,154,217,1)*/
}

.leftInner{
	display: block;
	position: absolute;
	width: 120%;
	height: 3.3rem;
	top: 3rem;
	margin-left: 40%;
	background-color: #262626;
	z-index: 5;
	box-shadow: 0px -4px 0px red, 0px 0px 0px transparent;
}

.rightloop{
	display: block;
	position: relative;
	width: 60%;
	height: 20rem;
	margin-left: 33%;
	top: -16rem;
	z-index: 2;
	background-image: linear-gradient(rgba(0,0,0,0.8), transparent);
	border: 3.5rem solid #ddd;
	border-image: linear-gradient(to bottom, #262626 , #565656);
	border-image-slice: 1;
	box-shadow: 5.5px -5.5px 5.5px red, 0px 0px 0px transparent;
}

.headleft{
	position: absolute;
	margin-top: 7.5rem;
	margin-left: -22%;
	font-weight: bold;
	font-size: 3.5rem;
	color: #dddddd; 
	text-shadow: 5px 5px 12px rgba(0,0,0), 5px 5px 8px black, 0px 0px 12px rgba(0,0,0);
}

.headright{
	position: absolute;
	margin-top: -3.5rem;
	margin-left: 50%;
	font-weight: bold;
	font-size: 3rem;
	color: #dddddd; 
	text-shadow: 5px 5px 12px rgba(0,0,0), 5px 5px 8px black, 0px 0px 12px rgba(0,0,0);
}

.servecontainerbottom1{
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background: grey;*/
	top: -11rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.servecontainerbottom2{
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background: aqua;*/
	top: -11rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.servecontainerbottom3{
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background: pink;*/
	top: -11rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.services{
	display: block;
	position: relative;
	height: 24rem;
	/*background-color: yellow;*/
	text-align: center;
	margin: 0.5rem auto;
	margin-left: 2%;
}

.card{
	position: relative;
	height: 23rem;
	/*background-color: #eee;*/
	width: 100%;
	display: flex;
	margin: 1rem;
	margin-left: -0.25rem;
	/*border: 3px solid #565656;*/
	border-radius: 5px;
}

.imgbx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: #333;*/
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out;
	padding-bottom: 10%;
	border-radius: 5px;
}

.card:hover{
	background-color: #eee;
	border: 3px solid #565656;
}

.card:hover .imgbx{
	width: 60%;
	height: 70%;
	top: -20%;
	left: calc(50% - 63%);
	transition: 0.5s ease-in-out;
	background-color: #000;
	padding-bottom: 0%;
}

.imgbx:before{
	content: attr(data-text);
	position: absolute;
	left: 0;
	bottom: 4%;
	width: 100%;
	text-align: center;
	font-size: 4em;
	color: rgba(255,255,255,0.15);
	font-weight: 600;
	border-radius: 6px;
}

img{
	max-width: 40%;
	transition:  0.5s ease-in-out;
}

.card:hover img{
	max-width: 50%;
}

.card:hover .imgbx:before{
	color: rgba(255,255,255,0.05);
}

.content{
	position: relative;
	right: 0;
	width: 100%;
	height: 100%;
	/*left: 0%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;*/
	display: block;	
}

.content h3{
	position: relative;
	font-size: 24px;
	font-weight: bold;
	display: none;
	text-align: center;
	margin-top: -1%;
	right: 0%;
	margin-left: 35%;
}

.content p{
	position: absolute;
	bottom: 8%;
	color: #111;
	font-weight: 600;
	display: none;
	margin-left: -18%;
	margin-right: 6%;
}

.serve1 h3{
	margin-top: 8%;
}

.serve3 h3{
	margin-top: 8%;
}

.serve4 h3{
	margin-top: 5%;
}

.serve6 h3{
	margin-top: 8%;
}

.serve7 h3{
	margin-top: 8%;
}

.card:hover .content{
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.7);
}

.card:hover .content h3{
	display: block;
}

.card:hover .content p{
	display: block;
}

}



@media only screen and (min-width: 992px){

.servecontainer{
	display: block;
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background: green;*/
	top: 1rem;
	/*height: 500rem;*/
}

.servecontainertop{
	display: block;
	position: relative;
	width: 100%;
	/*background: grey;*/
}

.servehead{
	margin-left: 30%;
	font-weight: bold;
	font-size: 3.75rem;
	color: #dddddd; 
	text-shadow: 5px 5px 12px rgba(0,0,0), 5px 5px 8px rgba(0,0,0), 0px 0px 12px rgba(0,0,0);
	z-index: 10;
}

.leftloop{
	display: block;
	position: relative;
	top: -1.5rem;
	width: 30%;
	height: 21rem;
	margin-left: 30%;
	background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, transparent 30%);
	z-index: 5;
	border: 3.5rem solid #ddd;
	border-image: linear-gradient(to bottom, #565656, #262626); /*(to bottom, rgba(0,255,255,0.7) , purple)*/
	border-image-slice: 1;
	box-shadow: -4.5px 4.5px 4.5px red; /*rgba(0,154,217,1)*/
}

.leftInner{
	display: block;
	position: absolute;
	width: 120%;
	height: 3.3rem;
	top: 3rem;
	margin-left: 33%;
	background-color: #262626;
	z-index: 5;
	box-shadow: 0px -4px 0px red, 0px 0px 0px transparent;
}

.rightloop{
	display: block;
	position: relative;
	width: 30%;
	height: 20rem;
	margin-left: 40%;
	top: -16rem;
	z-index: 2;
	background-image: linear-gradient(rgba(0,0,0,0.8), transparent);
	border: 3.5rem solid #ddd;
	border-image: linear-gradient(to bottom, #262626 , #565656);
	border-image-slice: 1;
	box-shadow: 5.5px -5.5px 5.5px red, 0px 0px 0px transparent;
}

.headleft{
	position: absolute;
	margin-top: 7.5rem;
	margin-left: 0%;
	font-weight: bold;
	font-size: 3.5rem;
	color: #dddddd; 
	text-shadow: 5px 5px 12px rgba(0,0,0), 5px 5px 8px black, 0px 0px 12px rgba(0,0,0);
}

.headright{
	position: absolute;
	margin-top: -3.5rem;
	margin-left: 54%;
	font-weight: bold;
	font-size: 3rem;
	color: #dddddd; 
	text-shadow: 5px 5px 12px rgba(0,0,0), 5px 5px 8px black, 0px 0px 12px rgba(0,0,0);
}

.servecontainerbottom1{
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background: grey;*/
	top: -13rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.servecontainerbottom2{
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background: aqua;*/
	top: -13rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.servecontainerbottom3{
	position: relative;
	width: 90%;
	margin-left: 5%;
	/*background: pink;*/
	top: -13rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.services{
	display: block;
	position: relative;
	height: 25rem;
	/*background-color: yellow;*/
	text-align: center;
	margin: 0.5rem auto;
}

.card{
	position: relative;
	height: 23rem;
	/*background-color: #eee;*/
	width: 100%;
	display: flex;
	margin: 1rem;
	margin-left: -0.25rem;
	/*border: 3px solid #565656;*/
	border-radius: 5px;
}

.imgbx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: #333;*/
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out;
	padding-bottom: 10%;
	border-radius: 5px;
}

.card:hover{
	background-color: #eee;
	border: 3px solid #565656;
}

.card:hover .imgbx{
	width: 150px;
	height: 150px;
	left: -75px;
	top: calc(50% - 75px);
	transition: 0.5s ease-in-out;
	background-color: #000;
	padding-bottom: 0%;
}

.imgbx:before{
	content: attr(data-text);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 5em;
	color: rgba(255,255,255,0.15);
	font-weight: 600;
	border-radius: 6px;
}

img{
	max-width: 40%;
	transition:  0.5s ease-in-out;
}

.card:hover img{
	max-width: 80%;
}

.card:hover .imgbx:before{
	color: rgba(255,255,255,0.05);
}

.content{
	position: relative;
	right: 0;
	width: 100%;
	height: 100%;
	padding-left: 24%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	display: block;	
}

.content h3{
	position: relative;
	font-size: 24px;
	font-weight: bold;
	display: none;
}

.content p{
	position: relative;
	margin-top: -20%;
	color: #111;
	font-weight: bold;
	display: none;
}

.card:hover .content{
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.7);
}

.card:hover .content h3{
	display: block;
}

.card:hover .content p{
	display: block;
}

}








































