@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

*{
	font-family: 'Merriweather', serif;
}

body{
	display: block;
	background: #121212;
}
/*
.btext{
	color: #ffffff;
	position: absolute;
	text-align: center;
	top: 45%;
	width: 100%;
	line-height: 0.5em;
}*/


@media only screen and (min-width: 576px){/*Laptop screen+*/

.container{
	/*background-color: red;*/
	/*background-color: #202020;*/
	margin-top: -0.5%;
	margin-left: 3%;
	width: 96%;
	/*box-shadow: inset -8px -8px 6px #343434, inset 9px 9px 15px #000000;*/
	padding: 2%;
	border-radius: 15px;
	padding-bottom: 3rem;
}

section{
	position: relative;
	width: 100%;
	/*padding: 50px;*/
}

.circle{
	background-color: red;
	position: relative;
	overflow: hidden;
	background-color: #161616;
}

img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.circle1{
	/*background-color: yellow;*/
	width: 275px;
	height: 275px;
	float: left;
	border-radius: 50%;
	margin: 3rem;
	margin-top: 6rem;
	transition: 1s;
	box-shadow: -8px -8px 12px #000000, 8px 8px 12px #000000;
	shape-outside: circle(50%);
}

.circle1:hover{
	transform: scale(1.1);
	overflow: hidden;
	transition: 1.5s;
}

.circle2{
	/*background-color: yellow;*/
	width: 150px;
	height: 150px;
	float: right;
	border-radius: 50%;
	margin: 2.5rem;
	transition: 1s;
	box-shadow: -6px -6px 10px #000000, 6px 6px 10px #000000;
	margin-top: 30rem;
	margin-bottom: 30rem;
	margin-left: 6rem;
	shape-outside: circle(15%);
}

.circle2:hover{
	transform: scale(1.1);
	overflow: hidden;
	transition: 1.5s;
}

h2{
	position: absolute;
	background-image: linear-gradient(#202020, #000000);
	color: #eee;
	font-size: 2.2rem;
	margin-top: -4.5%;
	margin-bottom: 10px;
	text-align: center;
	/*box-shadow: -6px -6px 10px #333333, 6px 6px 10px #000000;*/
	box-shadow: inset -4px -4px 6px #343434, inset 4px 4px 6px #010101;
	border-radius: 25%;
	width: 60%;
	margin-left: 20%;
	line-height: 6rem;
	padding: 0;
	cursor: pointer;
}

p{
	padding-top: 5rem;
	color: #eee;
	text-align: justify;
	font-size: 1.5rem;
	margin: 3% 4% 0 4%;
}

strong{
	font-size: 2rem;
}

}


@media only screen and (max-width: 576px){/*small screen-*/

.container{
	/*background-color: red;*/
	/*background-color: #202020;*/
	margin-top: -0.5%;
	margin-left: 6%;
	width: 88%;
	/*box-shadow: inset -8px -8px 12px #343434, inset 9px 9px 15px #000000;*/
	padding: 2%;
	border-radius: 15px;
	padding-bottom: 2rem;
}

section{
	position: relative;
	width: 100%;
	/*padding: 50px;*/
}

.circle{
	/*background-color: red;*/
	position: relative;
	overflow: hidden;
	background-color: #161616;
}

img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.circle1{
	/*background-color: yellow;*/
	width: 75%;
	height: 75%;
	float: left;
	border-radius: 50%;
	margin: 3rem;
	transition: 1s;
	box-shadow: -8px -8px 12px #000000, 8px 8px 12px #000000;
	margin-top: 9rem;
	margin-left: 12.5%;
}

.circle1:hover{
	transform: scale(1.1);
	overflow: hidden;
	transition: 1.5s;
}

.circle2{
	/*background-color: yellow;*/
	width: 40%;
	height: 40%;
	float: right;
	border-radius: 50%;
	margin: 2.5rem;
	transition: 1s;
	box-shadow: -6px -6px 10px #000000, 6px 6px 10px #000000;
	margin-top: 75rem;
	margin-bottom: 75rem;
	margin-left: 5rem;
	shape-outside: circle(8%);
}

.circle2:hover{
	transform: scale(1.1);
	overflow: hidden;
	transition: 1.5s;
}

h2{
	position: absolute;
	background-image: linear-gradient(#202020, #000000);
	color: #eee;
	font-size: 2.1rem;
	margin-top: 0rem;
	text-align: center;
	/*box-shadow: -6px -6px 10px #333333, 6px 6px 10px #000000;*/
	box-shadow: inset -4px -4px 6px #343434, inset 4px 4px 6px #010101;
	border-radius: 25%;
	width: 90%;
	margin-left: 5%;
	line-height: 6rem;
	cursor: pointer;
}

p{
	color: #eee;
	text-align: justify;
	font-size: 1.5rem;
	margin: 0 4% 0 4%;
}

strong{
	font-size: 2rem;
}

}


@media only screen and (min-width: 992px){/*Laptop screen+*/

.container{
	/*background-color: red;*/
	/*background-color: #202020;*/
	margin-top: -0.5%;
	margin-left: 8%;
	width: 84%;
	/*box-shadow: inset -8px -8px 6px #343434, inset 9px 9px 15px #000000;*/
	padding: 2%;
	border-radius: 15px;
	padding-bottom: 3rem;
}

section{
	position: relative;
	width: 100%;
	/*padding: 50px;*/
}

.circle{
	background-color: red;
	position: relative;
	overflow: hidden;
	background-color: #161616;
}

img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.circle1{
	/*background-color: yellow;*/
	width: 275px;
	height: 275px;
	float: left;
	border-radius: 50%;
	margin: 3rem;
	transition: 1s;
	box-shadow: -8px -8px 12px #000000, 8px 8px 12px #000000;
	shape-outside: circle(50%);
}

.circle1:hover{
	transform: scale(1.1);
	overflow: hidden;
	transition: 1.5s;
}

.circle2{
	/*background-color: yellow;*/
	width: 150px;
	height: 150px;
	float: right;
	border-radius: 50%;
	margin: 2.5rem;
	transition: 1s;
	box-shadow: -6px -6px 10px #000000, 6px 6px 10px #000000;
	margin-top: 30rem;
	margin-bottom: 30rem;
	margin-left: 6rem;
	shape-outside: circle(15%);
}

.circle2:hover{
	transform: scale(1.1);
	overflow: hidden;
	transition: 1.5s;
}

h2{
	background-image: linear-gradient(#202020, #000000);
	color: #eee;
	font-size: 2.5rem;
	margin-top: -1.5%;
	margin-bottom: 10px;
	text-align: center;
	/*box-shadow: -6px -6px 10px #333333, 6px 6px 10px #000000;*/
	box-shadow: inset -4px -4px 6px #343434, inset 4px 4px 6px #010101;
	border-radius: 25%;
	width: 40%;
	margin-left: 30%;
	line-height: 6rem;
	cursor: pointer;
}

p{
	/*padding-top: 45rem;*/
	color: #eee;
	text-align: justify;
	font-size: 1.5rem;
	margin: 2% 4% 0 4%;
}

strong{
	font-size: 2rem;
}

}












