`@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

*{
	font-family: 'Merriweather', serif;
}

body{
	display: block;
	background: #121212;
}


@media only screen and (min-width: 576px){

.container{
	position: relative;
	/*background-color: red;*/
	/*background-color: #202020;*/
	margin-top: -0.5%;
	margin-left: 3.5%;
	width: 93%;
	/*box-shadow: inset -8px -8px 6px #343434, inset 9px 9px 15px #000000;*/
	padding: 2%;
	border-radius: 15px;
	padding-bottom: 3rem;
}

.circle{
	position: relative;
	overflow: hidden;
	width: 275px;
	height: 275px;
	float: left;
	border-radius: 50%;
	margin: 3rem;
	margin-top: 6rem;
	transition: 1s;
	box-shadow: -8px -8px 12px #000000, 8px 8px 12px #000000;
	shape-outside: circle(50%);
}

.theCard{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1s ease;
}

.theCard:hover{
	transform: rotateY(180deg);
}

.front{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-image: url('pic4.jpg');
	background-size: cover;
}

.rear{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background-image: url('pic8.jpg');
	background-size: cover;
}

.headbg{
	position: absolute;
	background-image: linear-gradient(#202020, #000000);
	font-size: 2rem;
	margin-top: -4.5%;
	margin-bottom: 10px;
	text-align: center;
	/*box-shadow: -6px -6px 10px #333333, 6px 6px 10px #000000;*/
	box-shadow: inset -4px -4px 6px #343434, inset 4px 4px 6px #010101;
	border-radius: 25%;
	width: 55%;
	margin-left: 22.5%;
	padding: 0;
	cursor: pointer;
	font-weight: bold;
}

.heading{
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(#eee, #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: -1%;
	margin-bottom: 3.5%;
}

p{
	padding-top: 4rem;
	color: #eee;
	text-align: justify;
	font-size: 1.5rem;
	margin: 3% 4% 0 4%;
}

strong{
	font-size: 2rem;
}

}


@media only screen and (max-width: 576px){/*small screen-*/

.container{
	position: relative;
	display: block;
	margin-top: -0.5%;
	margin-left: 5%;
	width: 90%;
	/*box-shadow: inset -8px -8px 12px #343434, inset 9px 9px 15px #000000;*/
	border-radius: 15px;
	padding-bottom: 2rem;
}

.circle{
	position: relative;
	display: block;
	width: 80%;
	height: 27rem;
	border-radius: 50%;
	transition: 1s;
	box-shadow: -8px -8px 12px #000000, 8px 8px 12px #000000;
	margin-left: 10%;
	margin-top: 9rem;
	overflow: hidden;
}

.theCard{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1s ease;
}

.theCard:hover{
	transform: rotateY(180deg);
}

.front{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-image: url('pic4.jpg');
	background-size: cover;
}

.rear{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background-image: url('pic8.jpg');
	background-size: cover;
}

.headbg{
	position: relative;
	background-image: linear-gradient(#202020, #000000);
	margin-top: -35rem;
	text-align: center;
	/*box-shadow: -6px -6px 10px #333333, 6px 6px 10px #000000;*/
	box-shadow: inset -4px -4px 6px #343434, inset 4px 4px 6px #010101;
	border-radius: 25%;
	width: 92%;
	margin-left: 4%;
	cursor: pointer;
	padding-top: 0.1rem;
	padding-bottom: 0.5rem;
	
}

.heading{
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(#eee, #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

p{
	position: relative;
	color: #eee;
	text-align: justify;
	font-size: 1.5rem;
	margin: 30rem 4% 0 4%;
}

strong{
	font-size: 2rem;
}

}


@media only screen and (min-width: 992px){/*Laptop screen+*/

.container{
	position: relative;
	/*background-color: #202020;*/
	margin-top: -0.5%;
	margin-left: 8%;
	width: 84%;
	/*box-shadow: inset -8px -8px 6px #343434, inset 9px 9px 15px #000000;*/
	padding: 2%;
	border-radius: 15px;
	padding-bottom: 3rem;
}

.circle{
	position: relative;
	overflow: hidden;
	width: 275px;
	height: 275px;
	float: left;
	border-radius: 50%;
	margin: 3rem;
	transition: 1s;
	box-shadow: -8px -8px 12px #000000, 8px 8px 12px #000000;
	shape-outside: circle(50%);
}

.theCard{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1s ease;
}

.theCard:hover{
	transform: rotateY(180deg);
}

.front{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-image: url('pic4.jpg');
	background-size: cover;
}

.rear{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background-image: url('pic8.jpg');
	background-size: cover;
}

.headbg{
	background-image: linear-gradient(#202020, #000000);
	color: #eee;
	margin-top: -2.5%;
	margin-bottom: 10px;
	text-align: center;
	/*box-shadow: -6px -6px 10px #333333, 6px 6px 10px #000000;*/
	box-shadow: inset -4px -4px 6px #343434, inset 4px 4px 6px #010101;
	border-radius: 25%;
	width: 40%;
	margin-left: 30%;
	cursor: pointer;
}


.heading{
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(#eee, #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: -1%;
	margin-bottom: 3.5%;
}

p{
	padding-top: 5rem;
	color: #eee;
	text-align: justify;
	font-size: 1.5rem;
	margin: 2% 4% 0 4%;
}

strong{
	font-size: 2rem;
}

}







details{
	position: relative;
	display: block;
	padding: 5px;
	text-align: center;
}

summary{
	padding: 5px;
	font-size: 2.2rem;
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: -1%;
}

summary::-webkit-details-marker {
    display: none;
}

summary:before {
    content: "\2714"; /* the new icon */
    color: #696f7c;
    margin-right: 5px;
}

.tableDiv{
	position: relative;
	display: block;
	width: 90%;
	margin: 2% 5% 5% 5%;
	border-left: 2px #555555 ridge;
	border-top: 2px #555555 ridge;
	border-right: 2px #555555 groove;
	border-bottom: 2px #555555 groove;
}

table{
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	font-size: 1.6rem;
	font-weight: bold;
	overflow: scroll;
}

table *{
	border: 2px solid #161616;
	text-align: center;
}

th{
	background-image: linear-gradient(#202020, #404040);
	padding: 15px 10px 15px 10px;
	opacity: 1;
	text-align: center;
	box-shadow: -0px -4px 6px #555555, 0px 4px 6px #111111;
	background: -webkit-linear-gradient(#eee, #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
}

td{
	padding: 1rem;
}

tr{
	background-image: linear-gradient(#191919, #303030);
	color: #999999;
}

tr:nth-child(2) td{
	background-image: linear-gradient(#202020, #303030);
	box-shadow: inset -0px -0px 0px #202020, inset 0px 4px 4px #111111;
}

.bigCell a{
	text-decoration: none;
	color: #999999;
	border-style: none;
}

.bigCell:hover a{
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bigCell:hover{
	box-shadow: -0px -5px 8px #555555, 0px 5px 8px #000000;
}

tr:nth-child(3):hover td,
tr:nth-child(4):hover td,
tr:nth-child(5):hover td,
tr:nth-child(6):hover td,
tr:nth-child(7):hover td,
tr:nth-child(8):hover td{
	box-shadow: -0px -5px 8px #555555, 0px 5px 8px #000000;
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.lasttwo a{
	text-align: center;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	border-style: none;
	color: #999999;
}

.lasttwo:hover a{
	background: -webkit-linear-gradient(#eee, rgba(0,255,255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

















