

html{
	scroll-behavior: smooth;
}

.gotopbtn{
	display: none;
	position: fixed;
	bottom: 15px;
	right: 10px;
	z-index: 2000;
	font-size: 36px;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

.fa-arrow-alt-circle-up{
	/*color: #55ff06;*/
	background: -webkit-linear-gradient(rgba(0,154,217,1), #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-style: ridge;
	border-color: #000000;
	border-radius: 50%;
	box-shadow: 1px 2px 4px rgba(0,255,255), -1px -2px 4px #fff;
}

.container{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center !important;
	margin-top: 1%;
	/*background: yellow;*/
	width: 96%;
	margin-left: 2%;
	margin-bottom: 1%;
}

.window{
	position: relative;
	width: 100%;
	/*background: red;*/
	display: block;
	justify-content: center !important;
	overflow: hidden;
}

.awards1{
	position: relative;
	display: block;
	float: left !important;
	width: 40%;
	margin: 0 5% 0 5%;
	background-color: #121212;
}

.awards2{
	position: relative;
	display: block;
	float: right !important;
	width: 40%;
	margin: 0 5% 0 5%;
	background-color: #121212;
}

.certificateimg{
	width: 100%;
}

.certificateimg img{
	width: 100%;
	border-radius: 5px;
}

.awards1 .img1{
	transition: transform 0.5s;
}

.awards1:hover .img1{
	transform: translateX(20%);
}

.awards1 .img2{
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0%;
	transition: transform 0.5s;
}

.awards1:hover .img2{
	transform: translateX(-25%);
}

.awards2 .img3{
	transition: transform 0.5s;
}

.awards2:hover .img3{
	transform: translateX(-20%);
	transition: transform 0.5s;
}

.awards2 .img4{
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0%;
	transition: transform 0.5s;
}

.awards2:hover .img4{
	transform: translateX(25%);
}

.info1{
	position: relative;
	display: block;
	float: right;
	width: 40%;
	height: 300px;
	background-color: yellow;
	margin: 2.5% 5% 8% 5%;
}

.info2{
	position: relative;
	display: block;
	float: left;
	width: 40%;
	height: 300px;
	background-color: yellow;
	margin: 2.5% 5% 2.5% 5%;
}

#badge-ribbon1 {
      	position: relative;
      	background: red;
      	height: 100px;
      	width: 100px;
      	border-radius: 50px;
}

#badge-ribbon1:before,
#badge-ribbon1:after {
      	content: '';
      	position: absolute;
      	border-bottom: 70px solid red;
      	border-left: 40px solid transparent;
     	border-right: 40px solid transparent;
      	top: 70px;
      	left: -10px;
      	transform: rotate(-140deg);
	z-index: -1;
}

#badge-ribbon1:after {
      	left: auto;
      	right: -10px;
      	transform: rotate(140deg);
	z-index: -1;
}

.badgeOne{
	display: block;
	float: right !important;
	margin-right: -5%;
	top: -10%;
	transform: rotateZ(-20deg);
}

.badgeOne h2,
.badgeTwo h2{
	text-align: center;
	z-index: 50;
	font-weight: bold;
}

.badgeTwo{
	display: block;
	float: left !important;
	margin-left: -5%;
	top: -10%;
	transform: rotateZ(20deg);
}

.container1{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center !important;
	margin-top: 2%;
	/*background: yellow;*/
	width: 96%;
	margin-left: 2%;
	margin-bottom: 1%;
}

.box{
	display: inline-block;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
	perspective: 1100px;
	perspective-origin: 0 50%;
}

.certificate{
	margin: 0;
	position: relative;
	border-radius: 3px;
	transform-style: preserve-3d;
	transition: transform 0.4s;
}

.certificate img{
	max-width: 100%;
	display: block;
	position: relative;
	border-radius: 3px;
	border: 3px ridge #bbb;
	border-right: 3px groove #bbb;
	border-bottom: 3px groove #bbb;
	transition: transform 0.4s;
}

.certificate:hover img{
	transform: translateX(25%);
}

.certificate figcaption h3{
	margin: 0;
	padding: 0;
	color: #fff;
}

.certificate figcaption span:before{
	content: 'by ';
}

.certificate figcaption a{
	position: absolute;
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	bottom: 20px;
	right: 20px;
	color: #eee;
	text-decoration: none !important;
}

.certificate > div {
	overflow: hidden;
}

.certificate figcaption{
	position: absolute;
	left: 0;
	padding: 20px;
	background: #001429; /*#2c3f52; #000a14*/
	background-image: linear-gradient(#001429, #000a14);
	color: #ed4e6e;
	height: 100%;
	top: 0%;
	width: 50%;
	opacity: 0;
	backface-visibility: hidden;
	transform-origin: 0 0;
	transform: rotateY(-90deg);
	transition: transform 0.4s, opacity 0.1s 0.3s;
	z-index: 100;
	border-left: 5px rgba(0,154,217) ridge;
	border-top: 5px rgba(0,154,217) ridge;
	border-radius: 0 10px 10px 0;
}

.certificate:hover figcaption{
	opacity: 1;
	transform: rotateY(0deg);
	transition: transform 0.6s, opacity 0.1s;
}


.ribcontainer{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2%;
	/*background: yellow;*/
	width: 96%;
	margin-left: 2%;
	margin-bottom: 1%;
}

#badge-ribbon{
	display: block;
	position: relative !important;
}

.ribbon {
	display: block;
	font-size: 16px !important;
 	width: 50%;  
	position: relative !important;
	background: #ba89b6;
	color: #fff;
	text-align: center;
	padding: 2.2rem 2.2rem;
	margin: 1rem auto 1rem;
}

.ribbon:before, .ribbon:after {
	content: "";
	position: absolute;
 	display: block;
 	bottom: -1em;
 	border: 1.5em solid #986794;
 	z-index: -1;
}

.ribbon:before {
 	left: -2em;
 	border-right-width: 1.5em;
 	border-left-color: transparent;
}

.ribbon:after {
 	right: -2em;
 	border-left-width: 1.5em;
 	border-right-color: transparent;
}

.ribbon-content:before, .ribbon-content:after {
 	content: "";
 	position: absolute;
 	display: block;
 	border-style: solid;
 	border-color: #804f7c transparent transparent transparent;
 	bottom: -1em;
}

.ribbon-content:before {
 	left: 0;
 	border-width: 1em 0 0 1em;
}

.ribbon-content:after {
 	right: 0;
 	border-width: 1em 1em 0 0;
}

@media only screen and (min-width: 992px){

.k2 .box1{
	margin-top: calc(100% - 97%);
}

.k2 .box3{
	margin-top: calc(100% - 97%);
}

.k2 .box4{
	margin-top: calc(100% - 97%);
}

.k2 .box6{
	margin-top: calc(100% - 97%);
}
}


@media only screen and (max-width: 992px){

.large-small{
	display: none;
}
}

@media only screen and (max-width: 768px){

.large-small{
	display: block !important;
}

.medium{
	display: none;
}
}

@media only screen and (min-width: 991px){

.medium{
	display: none;
}
}

@media only screen and (max-width: 768px){

.k2 .box2{
	margin-left: calc(100% - 91.75%);
}

.k2 .box5{
	margin-left: calc(100% - 91.75%);
}
}


.certificate{
	overflow: hidden;
	transition: 4s;
}

.certificate:hover{
	overflow: visible;
}

.certificate:before{
	content: '';
	position: absolute;
	top: 0;
	left: -200px;
	width: 35px;
	height: 100%;
	background-color: rgba(255,255,255,0.4);
	transform: skewX(-30deg);
	z-index: 50;
	animation: animate 3s ease-in-out infinite;
}
/*
.certificate:after{
	content: '';
	position: absolute;
	top: 0;
	left: -200px;
	width: 35px;
	height: 100%;
	background-color: rgba(255,255,255,0.4);
	transform: skewX(-30deg);
	z-index: 50;
	animation: animate 4s ease-in-out infinite;
	animation-delay: 0.5s;
}*/

@keyframes animate{

	0%
	{
	left: -200px;
	}

	/*50%
	{
	left: 500px;
	}*/

	100%
	{
	left: 650px;
	}
}

.certificate:hover:before{
	display: none !important;
}

.certificate:hover:after{
	display: none !important;
}




.box2 .certificate:before{
	animation-delay: 2s;
}

.box3 .certificate:before{
	animation-delay: 1.5s;
}

.box4 .certificate:before{
	animation-delay: 2.5s;
}

.box5 .certificate:before{
	animation-delay: 3s;
}

.box6 .certificate:before{
	animation-delay: 1s;
}



































































































