@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

*{
	font-family: 'Merriweather', serif;
}

html{
	scroll-behavior: smooth;
}

body{
	display: block;
	background: #121212; /*#353535; #99ffcc;*/
}

.gotopbtn{
	display: none;
	position: fixed;
	bottom: 15px;
	right: 10px;
	z-index: 99;
	font-size: 36px;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

.far{
	/*color: #55ff06;*/
	background: -webkit-linear-gradient(rgba(0,154,217,1), #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-style: ridge;
	border-color: #000000;
	border-radius: 50%;
	box-shadow: 1px 2px 4px rgba(0,255,255), -1px -2px 4px #fff;
}

.container1{
	float: left;
	display: block;
	margin-top: -1%;
}

.container2{
	float: right;
	display: flex;
	flex-wrap: wrap;
	clear: both;
	/*column-count: 2;
	column-gap: 1rem;*/
	margin-top: -1.5%;
	margin-bottom: 2%;
}

.displayImage{
	margin-left: 4%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	
	position: fixed;
	/*border: 1px solid black;
	border-radius: 10px;*/
	
	background-size: 100%;
	background-repeat: no-repeat;
	/*background-color: #353535;
	box-shadow: 0 0 40px 0 #000000, 0 10px 20px 0 #000000;*/

	transition: 0.5s;

	text-align: center;
	color: #ffffff;
}


#bigDisplay:hover {
	transform: scale(1.1);
	transition: transform 2s;
}

.noteBlock{
	float: right;
	display: block;
	padding: 0rem 5rem 2rem 5rem;
}

.note{
	text-align: center;
	background-color: #111111;
	font-size: 1.75rem;
	padding: 1rem 1.5rem 1rem 1.5rem;
	display: block;
	color: #eeeeee;
	border: 1.5px solid #000000;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 3px rgba(0, 255, 255);
}

.box{
	position: relative;
	display: block;
	margin-bottom: 2%;
	text-align: center;
	padding: 0px 5px 0px 10px;
	color: #a0a0a0;
	/*border-style: solid;
	border-width: 1px;*/
	overflow: hidden;
}

.imgBox{
	margin-top: 5px;
	position: relative;
	display: block;
	font-size: 16px;
	border: 2px solid #262626;
	border-radius: 5px;

	background: #262626;
	overflow: hidden;

	cursor: pointer;

	box-shadow: -5px -3.5px 5px #000000;
}


img{
	max-width: 100%;
	
}

.imgBox:hover img{
	transform: scale(1.2);
	transition: transform 2s;
}

.details{ 
	position: absolute;
	top: 15px;
	left: 15px;
	bottom: 15px;
	right: 15px;
	background: rgba(0, 0, 0, 0.8);
	transform: scaleY(0);
	transition: transform 0.5s;
	/*height: 20rem;*/
}

.imgBox:hover .details{
	transform: scaleY(1);
	transition: transform 0.5s;
}


h2{
	font-style: normal;
	text-align: center;
	margin-top: 3rem;;
	padding: 0;
	font-size: 20px;
	color: #ff0;
	font-weight: 600;
}

p{
	margin: 2rem 0 0;
	padding: 0;
}


@media only screen and (max-width: 995px){
.col-xs-0{
	display: none;
}

.col-sm-0{
	display: none;
}

.box{
	margin-bottom: 5%;
}

.note{
	display: none;
}

}


.container2 .col-xs-12 .box{
	height: 100rem;
}

.container2 .col-sm-12 .box{
	height: 100rem;
}

.container2 .col-md-4 .box{
	height: 100rem;
}

.container2 .col-lg-6 .box{
	height: 100rem;
}




