@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

*{
	font-family: 'Merriweather', serif;
}

html{
  scroll-behavior: smooth;
}

body{
	display: block;
	background: #121212;
	background-image: url("hexbg2.jpg");
	background-repeat: repeat;
	background-size: 100%;
}

#particles-js{
	margin-top: -1%;
	background-image: url("mypic2.jpg");
	background-size: cover;
}

.gotopbtn{
	display: none;
	position: fixed;
	bottom: 15px;
	right: 10px;
	z-index: 99;
	font-size: 36px;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

.topButscroll{
	/*color: #55ff06;*/
	background: -webkit-linear-gradient(rgba(0,154,217,1), #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-style: ridge;
	border-color: #000000;
	border-radius: 50%;
	box-shadow: 1px 2px 4px rgba(0,255,255), -1px -2px 4px #fff;
}

.btext{
	color: #ffffff;
	text-shadow: 1px 1px 3px rgba(0,255,255);
	position: absolute;
	text-align: center;
	top: 45%;
	width: 100%;
	line-height: 0.5em;
	z-index: 5;
	font-weight: bold;
}


.backContainer{
	position: absolute;
	/*background-color: red;*/
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 10rem;
	margin-top: 2.5rem;
	padding-left: 2%;
}

.preview{
	position: relative;
	width: 6rem;
	height: 6rem;
	margin: 0 0.5rem;
	display: block;
	border-radius: 50%;
	padding: 0.75rem;
	box-sizing: border-box;
	background-image: linear-gradient(0deg, #333, #888);
	opacity: 0;
	z-index: 10;
	cursor: pointer;
}

.butCover{
	position: relative;
	width: 6rem;
	height: 6rem;
	margin: 0 0.5rem;
	display: block;
	text-align: center;
	border-radius: 50%;
	padding: 0.75rem;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 0 8px 15px #000000;
	background-image: linear-gradient(0deg, #333, #888);
	margin-top: -6rem;
}

.preview:hover{
	opacity: 1;
	box-shadow: 0 2px 6px rgba(0,255,255);
}

.innercircle{
	width: 100%;
	height: 100%;
	display: block;
	background-image: linear-gradient(0deg, #888, #333);
	border-radius: 50%;
	line-height: calc(5.5rem - 1rem);
	font-size: 2.5rem;
	color: #262626;
	transition: transform 0.5s;
	text-align: center;
	font-weight: 600;
	font-size: 2.5rem;
	color: #121212;
	text-shadow: 1px 1px 2px #666, 0 0 10px #666, 0 0 10px #666;
}


.container{
	margin-top: -75rem;
	padding-top: 4%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cardHeading{
	color: #000000;
	text-shadow: 1px 1px 2px rgba(0,255,255,1), 0 0 10px rgba(0,255,255,1), 0 0 10px rgba(0,255,255,1);
	font-size: 2.5rem;
	font-weight: 600;
	word-wrap: break-word;
	text-align: left;
	margin-left: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.hline{
	margin: 6% 0 5% 0;
	/*border: 0.5px solid #55ff06;*/
	height: 3px;
	border-radius: 50%;
	background: linear-gradient(90deg, rgba(0,154,217,1), #55ff06 100%);
}

.information{
	/*color: #ededed;*/
	background: -webkit-linear-gradient(#ffffff, rgba(0,255,255), rgba(0,154,217,1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.8rem;
	text-align: justify;
	margin-left: 1rem;
	margin-right: 1rem;
	/*text-shadow: 2px 2px 2px #000000;*/
	font-weight: bold;
}

div.single-card{
	box-shadow: -4.5px 4.5px 4.5px rgba(0,154,217,1); /*#0B5345;*/
}

.single-card{
	position: relative;
	padding: 2rem 3rem 5rem 3rem;
	height: 32.5rem;
	background: linear-gradient(to top right, #202020, #303030);
	/*background: #f0e995;*/ /*#ffffcb;*/
	/*background: #212121;*/
	overflow: hidden;
	text-align: center;
	border-left: 2.5px solid #000000;
	border-bottom: 2.5px solid #000000;
	border-radius: 40px 0px 40px 40px;
}

.single-card:before{
	content: "";
	position: absolute;
	top: 0; 
	right: 0;
	border-style: solid;
	border-color: #303030 #303030 transparent transparent;
	width: 0;	
}

.single-card:hover:before{
	/*background: #34495E;*/
	background: rgba(52, 73, 94, 0.8); /*upper color*/
	/*background: rgba(0, 0, 0, 0.4);*/ /*black color*/
	/*background: rgba(255, 255, 255, 0.5);*/ /*white color*/
	border-width: 35px;
	border-color: #121212 #121212 transparent transparent;
	transition: 1.2s;
	box-shadow: -6px 6px 10px #000000;
}
/*
.block{
	margin: 3rem auto;
}*/

.single-card:hover .information{
	display: none;
}

.single-card:hover .hline{
	display: none;
}

.single-card:hover .cardHeading{
	display: none;
}

#aboutMe:hover{
	background-image: url("picaboutme.jpg");
	background-size: cover;
	display: block;
	color: transparent;
}

#projects:hover{
	background-image: url("picprojects.jpg");
	background-size: cover;
	display: block;
	color: transparent;
}

#skills:hover{
	background-image: url("picskills.jpg");
	background-size: cover;
	display: block;
	color: transparent;
}

#thesis:hover{
	background-image: url("picthesis.jpg");
	background-size: cover;
	display: block;
	color: transparent;
}

#supra:hover{
	background-image: url("picsupra.jpg");
	background-size: cover;
	display: block;
	color: transparent;
}

#blank:hover{
	background-image: url("picblank.jpg");
	background-size: cover;
	display: block;
	color: transparent;
}

#achievements:hover{
	background-image: url("picachievements.jpg");
	background-size: cover;
	display: block;
	color: transparent;
}

#hobbies:hover{
	background-image: url("pichobbies.jpg");
	background-size: cover;
	display: block;
	color: transparent;
}

#gallery:hover{
	background-image: url("picgallery.jpg");
	background-size: cover;
	display: block;
	color: transparent;
}

footer p {
	font-size: 1.2em;
	color: #c0c0c0;	
	text-align:center;
	text-shadow: 2px 2px 2px #000000;
	margin-top: 1rem;	
}





@media only screen and (max-width: 992px){

#particles-js{
	height: 155rem;
	}

.block{
	margin: 3rem auto;
	}

}

@media only screen and (max-width: 768px){

#particles-js{
	height: 205rem;
	}

.block{
	margin: 2rem auto;
	}
	
}

@media only screen and (max-width: 576px){

#particles-js{
	height: 253rem;
	}

.block{
	margin: 1.5rem auto;
	}

footer{
	margin-top: 1.5rem;
	}

}


@media only screen and (min-width: 992px){

#particles-js{
	height: 122rem;
	}

.block{
	margin: 3rem auto;
	}

}

















