body{
	display: block;
	background: #121212;
}

.link{
  	background-color: #555;
  	color: white;
  	float: left;
 	border: none;
  	outline: none;
  	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}
.link:hover{
	background-color: #777;
}

.content{
	
	color: white;
	display: none;
	padding: 50px;
	text-align: center;
}
#SUPRA{
	background-color: red;
}
#DELERIOS{
	background-color: green;
}
#Website{
	background-color: blue;
}
#Internship{
	background-color: orange;
}