
.tablink{
	font-weight: bold;
	color: #000000;
	background-color: #0f0f0f;
  	float: left;
 	border: none;
  	outline: none;
  	cursor: pointer;
	padding: 1.5rem 0;
	width: 25%;
	text-align: center;
	border-color: #3f3f3f;
	border-width: 3px;
	border-bottom-style: groove;
}

.content{
	width: 100%;
	color: white;
	display: none;
	padding: 4rem 0rem 3rem 0rem;
	text-align: center;

	border-radius: 3rem 3rem 0 0;
	border-color: #3f3f3f;
	border-width: 3px;
	border-top-style: ridge;
	border-right-style: groove;
	border-left-style: ridge;
}

.but1{
	border-color: #3f3f3f;
	border-width: 3px;
	border-left-style: ridge;
	text-shadow: 1px 1px 2px #55ff06, 0 0 5px #55ff06, 0 0 5px #55ff06;
	border-left: 2px ridge #3f3f3f;
}

.but2{
	text-shadow: 1px 1px 2px rgba(0,255,255), 0 0 5px rgba(0,255,255), 0 0 5px rgba(0,255,255);
}

.but3{
	text-shadow: 1px 1px 2px #55ff06, 0 0 5px #55ff06, 0 0 5px #55ff06;
}

.but4{
	border-color: #3f3f3f;
	border-width: 3px;
	border-right-style: groove;
	text-shadow: 1px 1px 2px rgba(0,255,255), 0 0 5px rgba(0,255,255), 0 0 5px rgba(0,255,255);
}

#SUPRA{
	background-color: #232323;
}

#DELERIO{
	background-color: #232323;
}

#Website{
	background-color: #232323;
}

#Internship{
	background-color: #232323;
}


.title {
	display: none;
	color: white;
	font-weight: 300;
	position: absolute;
	left: 20px;
	top: 15px;
}

.bar {
	position: absolute;
	top: 100px;
	left: 10%;
	height: 5px;
	width: 100%;
	border-radius: 2.5px;
}

.filledbar {
	border-radius: 2.5px;
	position: absolute;
	top: 0px;
	z-index: 3;
	width: 0px;
	height: 100%;
	background: rgb(0,154,217);
	background: linear-gradient(90deg, rgba(0,154,217,1) 0%, #55ff06 100%);
	/*transition: 0.5s ease-out;*/
}

.card:hover .filledbar {
	border-radius: 2.5px;
	width: 80%;
	transition: 0.8s ease-out;
}

.card:hover .title {
	display: block;
}


.s1{
	background-image: url("media/picaboutme.jpg");
	background-size: cover;
	display: block;
}

.s2{
	background-image: url("media/picprojects.jpg");
	background-size: cover;
	display: block;
}

.s3{
	background-image: url("media/picskills.jpg");
	background-size: cover;
	display: block;
}

.s4{
	background-image: url("media/picthesis.jpg");
	background-size: cover;
	display: block;
}

.d1{
	background-image: url("media/picsupra.jpg");
	background-size: cover;
	display: block;
}

.d2{
	background-image: url("media/picachievements.jpg");
	background-size: cover;
	display: block;
}

.d3{
	background-image: url("media/pichobbies.jpg");
	background-size: cover;
	display: block;
}

.d4{
	background-image: url("media/picgallery.jpg");
	background-size: cover;
	display: block;
}

.w1{
	background-image: url("media/picaboutme.jpg");
	background-size: cover;
	display: block;
}

.w2{
	background-image: url("media/picprojects.jpg");
	background-size: cover;
	display: block;
}

.w3{
	background-image: url("media/picskills.jpg");
	background-size: cover;
	display: block;
}

.w4{
	background-image: url("media/picthesis.jpg");
	background-size: cover;
	display: block;
}

.i1{
	background-image: url("media/picsupra.jpg");
	background-size: cover;
	display: block;
}

.i2{
	background-image: url("media/picachievements.jpg");
	background-size: cover;
	display: block;
}

.i3{
	background-image: url("media/pichobbies.jpg");
	background-size: cover;
	display: block;
}

.i4{
	background-image: url("media/picgallery.jpg");
	background-size: cover;
	display: block;
}


.but1:hover{
	text-shadow: 1px 1px 2px yellow, 0 0 10px yellow, 0 0 10px yellow;
}

.but2:hover{
	text-shadow: 1px 1px 2px rgb(0,154,217), 0 0 10px rgb(0,154,217), 0 0 10px rgb(0,154,217);
}

.but3:hover{
	text-shadow: 1px 1px 2px yellow, 0 0 10px yellow, 0 0 10px yellow;
}

.but4:hover{
	text-shadow: 1px 1px 2px rgb(0,154,217), 0 0 10px rgb(0,154,217), 0 0 10px rgb(0,154,217);
}


#SUPRA .card:hover {
	box-shadow: 0 0 1rem 0 #55ff06, 0 0 1rem 0 #55ff06;
}

#DELERIO .card:hover {
	box-shadow: 0 0 1rem 0 rgb(0,255,255), 0 0 1rem 0 rgb(0,255,255);
}

#Website .card:hover {
	box-shadow: 0 0 1rem 0 #55ff06, 0 0 1rem 0 #55ff06;
}

#Internship .card:hover {
	box-shadow: 0 0 1rem 0 rgb(0,255,255), 0 0 1rem 0 rgb(0,255,255);
}



@media only screen and (min-width: 576px){

.container{
	padding: 0 2rem 0 2rem;
	margin-bottom: 2rem;
}

.tablink{
	font-size: 2.25rem;
}

.disp {
	margin-left: 10%;
	width: 90%;
	display: flex;
}

.card {
	display: flex;
	height: 23rem;
	width: 30%;
	background-color: #121212; /*#17141d;*/
	border-radius: 10px;
	/*box-shadow: -1rem 0 3rem #000;*/
	/*box-shadow: -0.5rem 0.5rem 0.5rem #55ff06;*/
	box-shadow: -1.5rem 0 2rem 0 #000000, 0 0 2rem 0 #000000;
	transition: 0.4s ease-out;
	position: relative;
	left: 0px;
}

.card:not(:first-child) {
	margin-left: -8%;
}

.card:hover {
	background-image: none !important;
	background-color: #000000;
	transform: translateX(-32%);
	/*transform: translateY(-20px);*/
	transition: 0.4s ease-out;
}

.card:hover ~ .card {
	position: relative;
	transition: 0.4s ease-out;
}

}


@media only screen and (max-width: 576px){

.container{
	padding: 0 1.5rem 0 1.5rem;
	margin-bottom: 2rem;
}

.content{
	padding: 4rem 0rem 1.5rem 0rem;
}

.tablink{
	text-align: center;
	font-size: 1.5rem;
}

.disp {
	margin-left: 10%;
	width: 94%;
	display: relative;
	padding-top: 7%;
}

.card {
	display: relative;
	height: 28rem;
	width: 80%;
	background-color: #121212; /*#17141d;*/
	border-radius: 10px;
	box-shadow: 0 -1.5rem 2rem 0 #000000, 0 0 2rem 0 #000000;
	transition: 0.4s ease-out;
	position: relative;
	left: 0px;
}

.card:not(:first-child) {
	margin-top: -10%;
}

.card:hover {
	background-image: none !important;
	background-color: #000000;
	left: 8%;
	transform: translateY(-20%);
	transition: 1s ease-out;
}

.card:hover ~ .card {
	position: relative;
	transition: 1s ease-out;
}

}


@media only screen and (min-width: 992px){

.container{
	padding: 0 3rem 0 3rem;
	margin-bottom: 2rem;
}

.tablink{
	font-size: 2.25rem;
}

.disp {
	margin-left: 5%;
	width: 97%;
	display: flex;
}

.card {
	display: flex;
	height: 28rem;
	width: 26%;
	background-color: #121212; /*#17141d;*/
	border-radius: 10px;
	/*box-shadow: -1rem 0 3rem #000;*/
	/*box-shadow: -0.5rem 0.5rem 0.5rem #55ff06;*/
	box-shadow: -1.5rem 0 2rem 0 #000000, 0 0 2rem 0 #000000;
	transition: 0.4s ease-out;
	position: relative;
	left: 0px;
}

.card:not(:first-child) {
	margin-left: -5%;
}

.card:hover {
	background-image: none !important;
	background-color: #000000;
	transform: translateY(-20px);
	transition: 0.4s ease-out;
}

.card:hover ~ .card {
	position: relative;
	left: 6%;
	transition: 0.4s ease-out;
}

}



.buttoncontainer{
	padding: 0 3rem 3.5rem 3rem;
}

.maindiv{
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 2.5rem 1.25rem 2.5rem;
}

.projectName{
	font-family: 'Merriweather', serif;
	font-weight: 700;
	padding: 0;
	margin: 0;
	display: block;
}

.buttoneffect{
	position: relative;
	height: 9rem;
	background-color: transparent;
	font-size: 1.75rem;
	border-radius: 15px 15px 15px 15px;
	/*border: 1px solid #000000;*/
	transition: 0.5s;
}

.effect{
	padding-top: 1rem;
	justify-content: center;
	align-items: center;
	color: #666666;
	position: absolute;
	display: block;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
}

.buttoneffect:hover .effect::before{
	background-color: #343434;
	transform: scale(1);
}

.effect::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	border-radius: 10px 10px 10px 10px;
	z-index: -1;	
}

.buttoneffect:hover{
	background-color: #121212;
	box-shadow: 0 0 10px 2px #000000;
	transform: scale(1.075);
	transition: transform 0.8s;
}

.supra .buttoneffect:hover .effect{
	background-color: #121212;
	background: -webkit-linear-gradient(#55ff06, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.delerio .buttoneffect:hover .effect{
	background-color: #121212;
	background: -webkit-linear-gradient(rgba(0,255,255) 30%, rgba(0,154,217));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.website .buttoneffect:hover .effect{
	background-color: #121212;
	background: -webkit-linear-gradient(#55ff06, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.internship .buttoneffect:hover .effect{
	background-color: #121212;
	background: -webkit-linear-gradient(rgba(0,255,255) 30%, rgba(0,154,217));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

