
html{
	scroll-behavior: smooth;
}

.gotopbtn{
	display: none;
	position: fixed;
	bottom: 15px;
	right: 10px;
	z-index: 100;
	font-size: 36px;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

.fa-arrow-alt-circle-up{
	/*color: #55ff06;*/
	background: -webkit-linear-gradient(rgba(0,154,217,1), #55ff06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-style: ridge;
	border-color: #000000;
	border-radius: 50%;
	box-shadow: 1px 2px 4px rgba(0,255,255), -1px -2px 4px #fff;
}

.containerMain{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2%;
	/*background: yellow;*/
	width: 95%;
	margin-left: 2.5%;
	margin-bottom: 1%;
}

.card{
	position: relative;
	height: 38rem;
	/*background: #78F8EC;*/ /*#6E4AE2;*/
	transition: 0.5s;
	margin: auto auto;
	margin-bottom: 6%;
}

@media only screen and (max-width: 992px){
.card{
	margin-bottom: 4.5%;
}
}

@media only screen and (max-width: 576px){
.card{
	margin-bottom: 6.5%;
}
}

@media only screen and (min-width: 992px){
.card{
	margin-bottom: 5%;
}
}

.card:hover .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: red;*/
}

.topdiv{
	position: absolute;
	display: block;
	width: 90%;
	height: 10rem;
	top: 0;
	left: 5%;
	/*background-color: orange;*/
	transition: 0.3s;
}

.heading{
	font-size: 2.18rem;
	font-weight: bold;
	height: 6rem;
	background: -webkit-linear-gradient(rgba(0,255,255), #eee);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 1.75rem;
	z-index: 2;
	text-transform: uppercase;
}

.card:nth-child(5) .topdiv{
	width: 100%;
	left: 0%;
}

.card:nth-child(5) .heading{
	font-size: 2rem;
}

.card:nth-child(1) .heading{
	padding-top: 1.3rem;
}

.card:nth-child(1) .heading{
	padding-top: 1.3rem;
}

.card:nth-child(6) .heading{
	padding-top: 1.3rem;
}

.card:nth-child(7) .heading{
	padding-top: 1.3rem;
}

.card:nth-child(8) .heading{
	padding-top: 1.3rem;
}

.level{
	font-size: 1.8rem;
	font-weight: bold;
	background: -webkit-linear-gradient(rgba(0,154,217,1), #eee); /*rgba(0,154,217,1)*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: -1.5rem;
	z-index: -1;
	
}

.container{
	position: absolute;
	display: block;
	padding: 0;
	flex: 1;
	width: 100%;
	justify-content: center;
	/*background: red;*/
	transform: scale(1);
}

#text:before{
	height: 100%;
	content: attr(data-text);
	position: absolute;
	left: 0;
	top: 0rem;
	width: 100%;
	text-align: center;
	font-size: 7em;
	color: rgba(255,255,255,0.1);
	font-weight: 600;
	border-radius: 6px;
	z-index: -2;
}

.bottomdiv{
	position: absolute;
	display: block;
	width: 90%;
	height: 15rem;
	bottom: 0;
	left: 5%;
	/*background-color: orange;*/
	transition: 0.3s;
}

.list{
	position: absolute;
	list-style: none;
	margin: 0;
	text-align: left;
	margin-top: 2rem;
	margin-left: -3.5rem;
	line-height: 2.5rem;
	font-size: 1.6rem;
	font-weight: bold;
	background: -webkit-linear-gradient(#eee, rgba(0,154,217,1), #6E4AE2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

strong{
	font-size: 2rem;
}

.face1{
	position: relative;
	margin: 0;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #232323;
	transition: 0.5s;
	text-align: center;
	height: 100%;
	width: 100%;
	transition: 0.3s;
	overflow: hidden;
	border-radius: 5px;
	border: 2px solid #555;
}

.card:hover .face1{
	padding: 0;
	height: 170px;
	width: 170px;
	border-radius: 50%;
	top: -14%;
	margin-left: calc(50% - 85px);
	border: 2px solid black;
	background: #101010;
	z-index: 5;
	box-shadow: -6px -6px 12px #343434, 6px 6px 12px #010101;
	transform: scale(0.8);
	overflow: hidden;
}

.card:hover .topdiv{
	display: none;
}

.card:hover .bottomdiv{
	display: none;
}

.card:hover #text:before{
	color: rgba(255,255,255,0.08);
}

.face2{
	position: relative;
	top: 14%;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	height: 0px;
	background: #161616;
	padding-top: -50px;
	border-radius: 5px;
}

.card:hover .face2{
	height: 86%;
	border: 2px ridge rgba(0,255,255);
	border-right: 2px groove rgba(0,154,217);
	border-bottom: 2px groove rgba(0,154,217);
	transition: 0.8s;
	transition-delay: 0.2s;
}

.first{
	margin-top: -1%;
}

.skills{
	position: relative;
	display: flex;	
	width: 90%;
	margin-bottom: 4.5%;
	margin-left: 5%;
	top: 20%;
	padding: 18px 10px 15px 10px;
	background-image: linear-gradient(#606060 0%, #333 15%, #161616);
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #000;
	transition: 0.5s;
	box-shadow: -2px -2px 10px #010101, 2px 2px 10px #010101;
}

.skills:hover{
	transform: scale(1.05);
	transition: transform 0.3s;
}

.skills:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(255,255,255,0.07);
	z-indx: 10;
}

.subName{
	position: relative;
	width: 25%;
	text-align: center;
	margin-top: -2%;
	/*background-color: yellow;*/
	font-size: 1.5rem;
	color: #eee;
	font-weight: bold;
}

.percent{
	position: relative;
	width: 70%;
	margin: 0 15px;
	margin-left: 5%;
	height: 14px;
	border-radius: 10px;
	background-color: #151515;
	box-shadow: inset 0 0 10px #000;
	overflow: hidden;
	border: 1px solid #000;
}

.progress{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 10px;
	background: #fff;
	box-shadow: inset 0 0 2px #000;
}

.card:hover .progress{
	animation: animate 1.5s ease-in-out forwards;
}

@keyframes animate
{
	from
	{
		width: 0;
	}
}

.skills:nth-child(1) .progress{
	background-image: linear-gradient(45deg, #1fe6ff, #673ab7);
}

.skills:nth-child(2) .progress{
	background-image: linear-gradient(45deg, #3bc0ff, #33ff00);
}

.skills:nth-child(3) .progress{
	background-image: linear-gradient(45deg, #ffee54, #ff00ca);
}

.skills:nth-child(4) .progress{
	background-image: linear-gradient(45deg, #22ffde, #2196f3);
}

.work{
	position: absolute;
	display: block;
	text-align: center;
	width: 60%;
	height: 12%;
	margin-left: 20%;
	top: 26.75rem;
	font-weight: bold;
	font-size: 1.75rem;
	background-color: #101010;
	border: 4px ridge #666;
	border-right: 4px groove #666;
	border-bottom: 4px groove #666;
	color: #dedede;
	padding-top: 3px;
	padding-bottom: 25px;
	border-radius: 5px;
}

.work:hover{
	color: #101010;
	background-color: #dedede;
}



.carouselContainer{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*background-color: yellow;*/
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 3rem;
	padding-left: 2%;
	padding-right: 2%;
}

@media only screen and (max-width: 992px){

.carousel{
	width: 48%;
	margin: auto;
	margin-bottom: 2rem;
}

}

@media only screen and (max-width: 768px){

.carouselContainer{
	padding-top: 3rem;
}

.carousel{
	width: 98%;
	margin-bottom: 3.5rem;
}

}

@media only screen and (min-width: 992px){

.carouselContainer{
	padding-left: 9%;
	padding-right: 9%;
}

.carousel{
	width: 45%;
	margin: auto;
	margin-bottom: 5rem;
}

}

.carousel{
	border-radius: 6px;
	overflow: hidden;
	box-shadow: -3px 1px 15px #000;
}

.carousel-inner .item{
	overflow: hidden;
	border-style: none;
	border-radius: 6px !important;
}

.ind{
	width: 30px !important;
	border-radius: 3px !important;
	height: 8px !important;
}

.change{
	margin-top: 225%;
}

.carousel-control{
	height: 75%;
}

#myImg {
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}









