@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

*{
	font-family: 'Merriweather', serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container1{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*background-color: yellow;*/
	/*background-image: url("car.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 80% 0%;*/
	overflow: hidden;
	margin-top: -1%;
}

.circle{
	position: absolute;
	height: 450px;
	width: 450px;
	margin-top: -2%;
	background-color: #333;
	border-radius: 50%; 
	z-index: -1;
	border-left: 3px solid red;
}

.container1 img{
	filter: drop-shadow(-3px -3px 2px rgba(0,0,0,1))
		drop-shadow(5px 5px 5px rgba(0,0,0,1))
		drop-shadow(3px 3px 8px rgba(0,0,0,1));
}

@media only screen and (min-width: 576px){

.container1{
	min-height: 54vh;
}

.container1 img{
	width: 84%;
	height: 100%;
	margin-left: 8%;
	margin-top: 3%;
}

.circle{
	margin-left: 70%;
}

.about{
	position: relative;
	display: block;
	float: left;
	width: 30%;
	left: 6%;
	color: #ddd;
}
}

@media only screen and (max-width: 576px){

.container1{
	min-height: 30vh;
	margin-top: -5%;
}

.container1 img{
	width: 95%;
	height: 100%;
	margin-left: 2.5%;
	margin-top: 5%;
}

.circle{
	margin-left: 90%;
	margin-top: -30%;
}

.about{
	position: relative;
	display: block;
	float: left;
	width: 80%;
	left: -8%;
	color: #ddd;
}
}

@media only screen and (min-width: 992px){

.container1{
	min-height: 58vh;
}

.container1 img{
	width: 58%;
	height: 100%;
	margin-left: 35%;
	margin-top: 0%;
}

.circle{
	margin-left: 70%;
}

.about{
	position: absolute;
	display: block;
	float: left;
	width: 30%;
	left: 6%;
	color: #ddd;
}
}

.container2{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.accordion{
	max-width: 700px;
}

.contentBx{
	position: relative;
	margin: 10px 20px;
}

.labelBx{
	position: relative;
	padding: 10px;
	background: #565656;
	color: #eee;
	cursor: pointer;
}

.labelBx::before{
	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.5em;
}

.contentBx.active .labelBx::before{
	content: '-';
}

.contentBx .content{
	position: relative;
	background: #999;
	height: 0;
	overflow: hidden;
	transition: 0.5s;
	/*overflow-y: auto;*/
	text-align: justify;
}

.contentBx.active .content{
	height: auto;
	padding: 10px;
}


.desrep{
	position: relative;
	display: block;
	width: 30%;
	height: 500px;
	margin-left: 10%;
	overflow: scroll;
	overflow-X: hidden;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.desrep img{
	width: 100%;
}

@media only screen and (max-width: 576px){

.desrep{
	width: 90%;
	height: 500px;
	margin-left: 5%;
}

}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

























