@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

*{
	font-family: 'Merriweather', serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container1{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*background-color: yellow;*/
	/*background-image: url("car.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 80% 0%;*/
	overflow: hidden;
	margin-top: -1%;
}

.circle{
	position: absolute;
	height: 450px;
	width: 450px;
	margin-top: -2%;
	background-color: #333;
	border-radius: 50%; 
	z-index: -1;
	border-left: 3px solid red;
}

@media only screen and (min-width: 576px){

.container1{
	min-height: 54vh;
}

.container1 img{
	width: 84%;
	height: 100%;
	margin-left: 8%;
	margin-top: 3%;
}

.circle{
	margin-left: 70%;
}
}

@media only screen and (max-width: 576px){

.container1{
	min-height: 45vh;
}

.container1 img{
	width: 95%;
	height: 100%;
	margin-left: 2.5%;
	margin-top: 5%;
}

.circle{
	margin-left: 80%;
}
}

@media only screen and (min-width: 992px){

.container1{
	min-height: 58vh;
}

.container1 img{
	width: 58%;
	height: 100%;
	margin-left: 35%;
	margin-top: 0%;
}

.circle{
	margin-left: 70%;
}
}

.container2{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.accordion{
	max-width: 700px;
}

.contentBx{
	position: relative;
	margin: 10px 20px;
}

.labelBx{
	position: relative;
	padding: 10px;
	background: #565656;
	color: #eee;
	cursor: pointer;
}

.labelBx::before{
	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.5em;
}

.contentBx.active .labelBx::before{
	content: '-';
}

.contentBx .content{
	position: relative;
	background: #999;
	height: 0;
	overflow: hidden;
	transition: 0.5s;
	/*overflow-y: auto;*/
	text-align: justify;
}

.contentBx.active .content{
	height: auto;
	padding: 10px;
}
































