@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

*{
	font-family: 'Merriweather', serif;
}

body{
	display: block;
	align-items: center;
	justify-content: center;
	background-color: #121212;
}

@media only screen and (max-width: 576px){

.container{
	background-color: #121212;
	display: block;
	margin: 0;	
	padding-bottom: 5%;
	
	padding-top: 0;
}

.separateBlock1{
	width: 100%;
	position: relative;
	display: block;
	padding-left: 2%;
	padding-right: 2%;
}

.separateBlock2{
	width: 100%;
	position: relative;
	display: block;
	padding-left: 2%;
	padding-right: 2%;
}

.windowLeft{
	position: relative;
	display: block;
	background: linear-gradient(#202020, #262626);
	margin-top: 2%;
	width: 100%;
	padding-bottom: 2.5%;
	/*border-top: 1px ridge #565656;
	border-left: 1px ridge #565656;
	border-right: 1px groove #565656;
	border-bottom: 1px groove #565656;*/
	border-radius: 60px 60px 40px 40px;
	box-shadow: -3px -3px 8px #333333, 3px 3px 8px #000000;
}

.windowRight{
	position: relative;
	display: block;
	background: linear-gradient(#222222, #262626);
	margin-top: 10%;
	width: 100%;
	padding-bottom: 2.5%;
	border-radius: 60px 60px 40px 40px;
	box-shadow: -3px -3px 8px #333333, 3px 3px 8px #000000;
}

.heading{
	/*color: #000000;
	text-shadow: 1px 1px 2px rgba(0,255,255), 0 0 10px rgba(0,255,255), 0 0 10px rgba(0,255,255);*/
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 24px;
	/*background-color: #333333;*/ /*rgba(18,18,18, 0);*/
	/*border-bottom: 4px ridge #565656;*/
	background-image: radial-gradient(#333333, #212121);
	border-radius: 54px 54px 0 0;
	z-index: 2;
	box-shadow: 0px 6px 5px #000000;;
	margin-bottom: 6%;
	font-weight: bold;
	background: -webkit-linear-gradient(rgba(0,255,255), white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}

.windowLeft .heading{
	height: 14rem;
	padding: 2rem 2rem 2rem 2rem;
}

.windowRight .heading{
	height: 12rem;
	padding: 2.5rem 2rem 2rem 2rem;
}

.left{
	margin-left: 23%;
	position: relative;
	display: block;
	background: radial-gradient(#111111, #212121);
	width: 52%;
	padding-top: 68%;
	/*background: url(rp1.png);
	background-size: 100%;*/
	transform: rotate(-30deg) skew(25deg) scale(0.8);
	transition: transform 1s;
	border: 1.5vh ridge #121212;
	border-right: 1.5vh groove #121212;
	border-bottom: 1.5vh groove #121212;
	box-shadow: -3px 1px 15px rgba(0,255,255); /*#d600ff; #55ff06;*/
}

.right{
	margin-left: 23%;
	position: relative;
	display: block;
	background: radial-gradient(#111111, #212121);
	width: 52%;
	padding-top: 68%;
	/*background: url(rp1.png);
	background-size: 100%;*/
	transform: rotate(-30deg) skew(25deg) scale(0.8);
	transition: transform 1s;
	border: 1.5vh ridge #121212;
	border-right: 1.5vh groove #121212;
	border-bottom: 1.5vh groove #121212;
	box-shadow: -3px 1px 15px rgba(0,255,255); /*#d600ff; #55ff06;*/
}

.left img{
	position: absolute;
	margin-top: -143%;
	width: 100%;
	transition: transform 1s;
}

.right img{
	position: absolute;	
	margin-top: -143%;
	width: 100%;
	transition: transform 1s;
}

.left:hover img:nth-child(4){
	transform: translate(28%, -20%);
	opacity: 1;
	transition: transform 1s;
}

.right:hover img:nth-child(4){
	transform: translate(28%, -20%);
	opacity: 1;
	transition: transform 1s;
}

.left:hover img:nth-child(3){
	transform: translate(21%, -15%);
	opacity: 0.8;
	transition: transform 1s;
}

.right:hover img:nth-child(3){
	transform: translate(21%, -15%);
	opacity: 0.8;
	transition: transform 1s;
}

.left:hover img:nth-child(2){
	transform: translate(14%, -10%);
	opacity: 0.8;
	transition: transform 1s;
}

.right:hover img:nth-child(2){
	transform: translate(14%, -10%);
	opacity: 0.8;
	transition: transform 1s;
}

.left:hover img:nth-child(1){
	transform: translate(7%, -5%);
	opacity: 0.8;
	transition: transform 1s;
}

.right:hover img:nth-child(1){
	transform: translate(7%, -5%);
	opacity: 0.8;
	transition: transform 1s;
}


/*Buttons*/

.buttoneffect1{
	text-align: center;
	width: 30%;
	margin-left: 67%;
	position: absolute;
	padding: 0.1rem;
	background-color: #121212;
	font-size: 1.75rem;
	border-radius: 5px 31px 5px 31px;
	margin-top: -2%;
	box-shadow: inset -2px -2px 3px rgba(85,255,06,0.5), inset 3px 3px 5px #010101;
	z-index: 2;
	cursor: pointer;
}

.buttoneffect2{
	text-align: center;
	width: 25%;
	margin-left: 2%;
	position: relative;
	padding: 0.1rem;
	background-color: #121212;
	font-size: 1.75rem;
	border-radius: 5px 31px 5px 31px;
	margin-top: -21%;
	box-shadow: inset -2px -2px 3px rgba(85,255,06,0.5), inset 3px 3px 5px #010101;
	cursor: pointer;
}

.projectName{
	font-weight: bold;
	padding: 0;
	display: block;
	background: -webkit-linear-gradient(#55ff06, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 1.75vh;
	margin-bottom: 2vh;
}

.buttoneffect1:hover{
	box-shadow: -3px -3px 5px #55ff06, 3px 3px 5px #010101;
	
}

.buttoneffect1:hover .projectName{
	transform: scale(1.1);
	transition: 1s;
}

.buttoneffect2:hover{
	box-shadow: -3px -3px 5px #55ff06, 3px 3px 5px #010101;
	
}

.buttoneffect2:hover .projectName{
	transform: scale(1.1);
	transition: 1s;
}

}




@media only screen and (min-width: 576px){ 

.container{
	background-color: #121212;
	display: flex;
	margin: 0;	
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 0;
	padding-bottom: 5%;
}

.separateBlock1{
	width: 50%;
	position: relative;
	display: block;
	padding-right: 1%;
}

.separateBlock2{
	width: 50%;
	position: relative;
	display: block;
	padding-left: 1%;
}

.windowLeft{
	position: relative;
	display: block;
	background: linear-gradient(#121212, #222222);
	margin-left: 4%;
	margin-top: 2%;
	width: 96%;
	padding-bottom: 2.5%;
	/*border-top: 1px ridge #565656;
	border-left: 1px ridge #565656;
	border-right: 1px groove #565656;
	border-bottom: 1px groove #565656;*/
	border-radius: 60px 60px 40px 40px;
	box-shadow: -3px -3px 8px #333333, 3px 3px 8px #000000;
}

.windowRight{
	position: relative;
	display: block;
	background: linear-gradient(#121212, #222222);
	margin-top: 2%;
	width: 96%;
	padding-bottom: 2.5%;
	border-radius: 60px 60px 40px 40px;
	box-shadow: -3px -3px 8px #333333, 3px 3px 8px #000000;
}

.heading{
	color: #000000;
	text-shadow: 1px 1px 2px rgba(0,255,255), 0 0 10px rgba(0,255,255), 0 0 10px rgba(0,255,255);
	position: relative;
	width: 100%;
	padding: 1rem 5rem 1rem 5rem;
	text-align: center;
	font-size: 24px;
	/*background-color: #333333;*/ /*rgba(18,18,18, 0);*/
	/*border-bottom: 4px ridge #565656;*/
	background: radial-gradient(#333333, #212121);
	border-radius: 54px 54px 0 0;
	z-index: 2;
	box-shadow: 0px 3px 10px #000000;
	font-weight: bold;
}

.windowLeft .heading{
	height: 14rem;
	padding: 2rem 3rem 2rem 3rem;
}

.windowRight .heading{
	height: 14rem;
	padding: 3.5rem 3rem 2rem 3rem;
}





.left{
	margin-left: 23%;
	position: relative;
	display: block;
	background: radial-gradient(#111111, #212121);
	width: 52%;
	padding-top: 68%;
	/*background: url(rp1.png);
	background-size: 100%;*/
	transform: rotate(-30deg) skew(25deg) scale(0.8);
	transition: transform 1s;
	border: 1.5vh ridge #121212;
	border-right: 1.5vh groove #121212;
	border-bottom: 1.5vh groove #121212;
	box-shadow: -3px 1px 15px rgba(0,255,255); /*#d600ff; #55ff06;*/
}

.right{
	margin-left: 23%;
	position: relative;
	display: block;
	background: radial-gradient(#111111, #212121);
	width: 52%;
	padding-top: 68%;
	/*background: url(rp1.png);
	background-size: 100%;*/
	transform: rotate(-30deg) skew(25deg) scale(0.8);
	transition: transform 1s;
	border: 1.5vh ridge #121212;
	border-right: 1.5vh groove #121212;
	border-bottom: 1.5vh groove #121212;
	box-shadow: -3px 1px 15px rgba(0,255,255); /*#d600ff; #55ff06;*/
}

.left img{
	position: absolute;
	margin-top: -140%;
	width: 100%;
	transition: transform 1s;
}

.right img{
	position: absolute;	
	margin-top: -140%;
	width: 100%;
	transition: transform 1s;
}

.left:hover img:nth-child(4){
	transform: translate(28%, -20%);
	opacity: 1;
	transition: transform 1s;
}

.right:hover img:nth-child(4){
	transform: translate(28%, -20%);
	opacity: 1;
	transition: transform 1s;
}

.left:hover img:nth-child(3){
	transform: translate(21%, -15%);
	opacity: 0.8;
	transition: transform 1s;
}

.right:hover img:nth-child(3){
	transform: translate(21%, -15%);
	opacity: 0.8;
	transition: transform 1s;
}

.left:hover img:nth-child(2){
	transform: translate(14%, -10%);
	opacity: 0.8;
	transition: transform 1s;
}

.right:hover img:nth-child(2){
	transform: translate(14%, -10%);
	opacity: 0.8;
	transition: transform 1s;
}

.left:hover img:nth-child(1){
	transform: translate(7%, -5%);
	opacity: 0.8;
	transition: transform 1s;
}

.right:hover img:nth-child(1){
	transform: translate(7%, -5%);
	opacity: 0.8;
	transition: transform 1s;
}


/*Buttons*/

.buttoneffect1{
	text-align: center;
	width: 30%;
	margin-left: 67%;
	position: absolute;
	padding: 0.1rem;
	background-color: #121212;
	font-size: 1.75rem;
	border-radius: 5px 31px 5px 31px;
	margin-top: 3%;
	box-shadow: inset -2px -2px 3px rgba(0,255,255,0.5), inset 3px 3px 5px #010101;
	z-index: 2;
}

.buttoneffect2{
	text-align: center;
	width: 25%;
	margin-left: 2%;
	position: relative;
	padding: 0.1rem;
	background-color: #121212;
	font-size: 1.75rem;
	border-radius: 5px 31px 5px 31px;
	margin-top: -19%;
	box-shadow: inset -2px -2px 3px rgba(0,255,255,0.5), inset 3px 3px 5px #010101;
	cursor: pointer;
}

.projectName{
	font-weight: bold;
	padding: 0;
	display: block;
	background: -webkit-linear-gradient(rgba(0,255,255), white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 1.75vh;
	margin-bottom: 2vh;
}

.buttoneffect1:hover{
	box-shadow: -3px -3px 5px rgba(0,255,255,0.5), 3px 3px 5px #010101;
	
}

.buttoneffect1:hover .projectName{
	transform: scale(1.1);
	transition: 1s;
}

.buttoneffect2:hover{
	box-shadow: -3px -3px 5px rgba(0,255,255,0.5), 3px 3px 5px #010101;
	
}

.buttoneffect2:hover .projectName{
	background: -webkit-linear-gradient(rgba(0,255,255), white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(1.1);
	transition: 1s;
}

}





@media only screen and (min-width: 992px){ /*large and above*/

.container{
	background-color: #121212;
	display: flex;
	margin: 0;	
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 0;
	padding-bottom: 5%;
}

.separateBlock1{
	width: 50%;
	position: relative;
	display: block;
	padding-right: 1.5%;
}

.separateBlock2{
	width: 50%;
	position: relative;
	display: block;
	padding-left: 1.5%;
}

.windowLeft{
	position: relative;
	display: block;
	background: linear-gradient(#121212, #222222);
	margin-left: 9%;
	margin-top: 2%;
	width: 92%;
	padding-bottom: 2.5%;
	/*border-top: 1px ridge #565656;
	border-left: 1px ridge #565656;
	border-right: 1px groove #565656;
	border-bottom: 1px groove #565656;*/
	border-radius: 60px 60px 40px 40px;
	box-shadow: -3px -3px 8px #333333, 3px 3px 8px #000000;
}

.windowRight{
	position: relative;
	display: block;
	background: linear-gradient(#121212, #222222);
	margin-top: 2%;
	width: 92%;
	padding-bottom: 2.5%;
	border-radius: 60px 60px 40px 40px;
	box-shadow: -3px -3px 8px #333333, 3px 3px 8px #000000;
}

.heading{
	color: #000000;
	text-shadow: 1px 1px 2px rgba(0,255,255), 0 0 10px rgba(0,255,255), 0 0 10px rgba(0,255,255);
	position: relative;
	width: 100%;
	height: 12rem;
	text-align: center;
	font-size: 24px;
	/*background-color: #333333;*/ /*rgba(18,18,18, 0);*/
	/*border-bottom: 4px ridge #565656;*/
	background: radial-gradient(#333333, #212121);
	border-radius: 54px 54px 0 0;
	z-index: 2;
	box-shadow: 0px 3px 10px #000000;
	justify-content: center;
	font-weight: bold;
}

.windowLeft .heading{
	padding: 2.5rem 6rem 2rem 6rem;
}

.windowRight .heading{
	padding: 2.5rem 6rem 2rem 6rem;
}

.left{
	margin-left: 23%;
	position: relative;
	display: block;
	background: radial-gradient(#111111, #212121);
	width: 52%;
	padding-top: 68%;
	/*background: url(rp1.png);
	background-size: 100%;*/
	transform: rotate(-30deg) skew(25deg) scale(0.8);
	transition: transform 1s;
	border: 1.5vh ridge #121212;
	border-right: 1.5vh groove #121212;
	border-bottom: 1.5vh groove #121212;
	box-shadow: -3px 1px 15px rgba(0,255,255); /*#d600ff; #55ff06;*/
}

.right{
	margin-left: 23%;
	position: relative;
	display: block;
	background: radial-gradient(#111111, #212121);
	width: 52%;
	padding-top: 68%;
	/*background: url(rp1.png);
	background-size: 100%;*/
	transform: rotate(-30deg) skew(25deg) scale(0.8);
	transition: transform 1s;
	border: 1.5vh ridge #121212;
	border-right: 1.5vh groove #121212;
	border-bottom: 1.5vh groove #121212;
	box-shadow: -3px 1px 15px rgba(0,255,255); /*#d600ff; #55ff06;*/
}

.left img{
	position: absolute;
	margin-top: -140%;
	width: 100%;
	transition: transform 1s;
}

.right img{
	position: absolute;	
	margin-top: -140%;
	width: 100%;
	transition: transform 1s;
}

.left:hover img:nth-child(4){
	transform: translate(28%, -20%);
	opacity: 1;
	transition: transform 1s;
}

.right:hover img:nth-child(4){
	transform: translate(28%, -20%);
	opacity: 1;
	transition: transform 1s;
}

.left:hover img:nth-child(3){
	transform: translate(21%, -15%);
	opacity: 0.8;
	transition: transform 1s;
}

.right:hover img:nth-child(3){
	transform: translate(21%, -15%);
	opacity: 0.8;
	transition: transform 1s;
}

.left:hover img:nth-child(2){
	transform: translate(14%, -10%);
	opacity: 0.8;
	transition: transform 1s;
}

.right:hover img:nth-child(2){
	transform: translate(14%, -10%);
	opacity: 0.8;
	transition: transform 1s;
}

.left:hover img:nth-child(1){
	transform: translate(7%, -5%);
	opacity: 0.8;
	transition: transform 1s;
}

.right:hover img:nth-child(1){
	transform: translate(7%, -5%);
	opacity: 0.8;
	transition: transform 1s;
}


/*Buttons*/

.buttoneffect1{
	text-align: center;
	width: 30%;
	margin-left: 67%;
	position: absolute;
	padding: 0.1rem;
	background-color: #121212;
	font-size: 1.75rem;
	border-radius: 5px 31px 5px 31px;
	margin-top: 3%;
	box-shadow: inset -2px -2px 3px rgba(0,255,255,0.5), inset 3px 3px 5px #010101;
	z-index: 2;
}

.buttoneffect2{
	text-align: center;
	width: 25%;
	margin-left: 2%;
	position: relative;
	padding: 0.1rem;
	background-color: #121212;
	font-size: 1.75rem;
	border-radius: 5px 31px 5px 31px;
	margin-top: -19%;
	box-shadow: inset -2px -2px 3px rgba(0,255,255,0.5), inset 3px 3px 5px #010101;
	cursor: pointer;
}

.projectName{
	font-weight: bold;
	padding: 0;
	display: block;
	color: #bbbbbb;
	margin-top: 1.75vh;
	margin-bottom: 2vh;
}

.buttoneffect1:hover{
	box-shadow: -3px -3px 5px rgba(0,255,255,0.5), 3px 3px 5px #010101;
	
}

.buttoneffect1:hover .projectName{
	background: -webkit-linear-gradient(rgba(0,255,255), white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(1.1);
	transition: 1s;
}

.buttoneffect2:hover{
	box-shadow: -3px -3px 5px rgba(0,255,255,0.5), 3px 3px 5px #010101;
	
}

.buttoneffect2:hover .projectName{
	background: -webkit-linear-gradient(rgba(0,255,255), white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(1.1);
	transition: 1s;
}

}


#abstractread1{
	display: block; 
	padding: 20px; 
	width: 100%; 
	height: 60px; 
	text-align: center; 
	color: #dddddd; 
	background-color: #565656;
	margin-bottom: 10px;
	
}

#abstractread2{
	display: block; 
	padding: 20px; 
	width: 100%; 
	height: 60px; 
	text-align: center; 
	color: #dddddd; 
	background-color: #565656;
	margin-bottom: 10px;
	
}


.container1{
	width: 100%;
	/*margin: 100px auto;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card{
	position:  relative;
	width: 300px;
	height: 400px;
	background: #fff;
	transform-style: preserve-3d;
	transform: perspective(2000px);
	transition: 1s;
	box-shadow: inset 300px 0 50px rgba(0,0,0,0.5);
	margin-bottom: 50px;
}

.card:hover{
	z-index: 1000;
	/*transform: perspective(2000px) rotate(-10deg);*/
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5);
	background-image: none;
}

.imgBox{
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #000;
	box-sizing: border-box;
	transform-origin: left;
	z-index: 1;
	transition: 1s;
	overflow: hidden;
	background-image: url("rp1.png");
	background-size: cover;
	display: block;
}

.card:hover .imgBox{
	transform: rotateY(-100deg);
	
	
}

.details{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 20px;
}